results/*
workflow/logs/
workflow/slurm*.out
*/.ipynb_checkpoints/*
.ipynb_checkpoints/
data/
qc/
ref_files/cal09
ref_files/cal09_human
ref_files/cal09_human_star_index
ref_files/humanGRCh38
ref_files/TruSeq3-PE-2.fa
.DS_Store
.snakemake
*.svg
*STARgenome/
*STARtmp/
*Log.out
*Log.progress.out
tmp/
cufflinks/
invert_results/
star_mapping/
invert_calculations.xlsx
logs/
combine_final_results.py
*summary.pdf
*summary.Rmd
.Rhistory
combined_invert_results.csv
